shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true

onlyBuiltDependencies:
  - "@prisma/client"
  - "@prisma/engines"
  - "prisma"
  - "esbuild"
  - "keccak"
  - "secp256k1"
  - "msgpackr-extract"
